@font-face {
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Medium.woff2') format('woff2'),
         url('../fonts/Geometria-Medium.woff') format('woff'),
         url('../fonts/Geometria-Medium.ttf') format('truetype'),
         url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Regular';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Regular.woff2') format('woff2'),
         url('../fonts/Geometria-Regular.woff') format('woff'),
         url('../fonts/Geometria-Regular.ttf') format('truetype'),
         url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family:'Merel-Regular';
	src: url('../fonts/Merel-Regular.eot');
	src: url('../fonts/Merel-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merel-Regular.woff2') format('woff2'),
	url('../fonts/Merel-Regular.woff') format('woff'),
	url('../fonts/Merel-Regular.ttf') format('truetype'),
	url('../fonts/Merel-Regular.svg#Merel-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0451;
}
@font-face{
	font-family:'Merel-Medium';
	src: url('../fonts/Merel-Medium.eot');
	src: url('../fonts/Merel-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merel-Medium.woff2') format('woff2'),
	url('../fonts/Merel-Medium.woff') format('woff'),
	url('../fonts/Merel-Medium.ttf') format('truetype'),
	url('../fonts/Merel-Medium.svg#Merel-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0451;
}
@font-face{
	font-family:'Merel-Bold';
	src: url('../fonts/Merel-Bold.eot');
	src: url('../fonts/Merel-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merel-Bold.woff2') format('woff2'),
	url('../fonts/Merel-Bold.woff') format('woff'),
	url('../fonts/Merel-Bold.ttf') format('truetype'),
	url('../fonts/Merel-Bold.svg#Merel-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0451;
}
body{
    background-color: lightyellow;
}
* {
    margin: 0;
    padding: 0;
   }
   a{
    text-decoration: none; 
   }
.b-block{
    margin: 0 auto;
    max-width: 1152px;
    display: block;
    width: calc(100% - 64px);
    position: relative;
   }
.header{
    width: 100%;
    height: 100vh;
    display: inline-block;
}
.display-none{
    display: none;
}
.header .b-block{
    height: 100vh;
}
.logo{
    margin: 0 auto;
    vertical-align: middle;
}
.header_top-menu{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.header_menu{
    display: inline-block;
    vertical-align: middle;
}

.header_menu-ul{
    display: inline-block;
    list-style-type: none;
}
.header_menu-ul li{
    display: inline-block;
}
.logo_block{
    display: inline-block;
}
.header_backgrond{
    background-image: url(../img/background1.png);
    background-position: center;
    width: 320px;
    height: 440px;
    background-size: cover;
    display: inline-block;
    margin-left: 30px;
}

.header_link{
    text-decoration: none;
    font-family: Geometria-Medium;
    font-size: 18px;
    color: #61605E;
    margin-right: 40px;
}

.header_menu-ul{
    margin-top: 50px;
}
.header_box_title_backgrond{
    position: absolute;
    top: 25%;
    left: calc(50% - 425px); 
    text-align: center;
}
.header_title{

display: inline-block;

width: 450px;
border: 2px solid #F25500;

border-radius: 25px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
padding: 20px;
}
.header_title_bid{
    display: inline-block;
    vertical-align: top;
}
.header_title h1{

font-family: Geometria-Regular;
text-align: initial;
color: #61605E;
}
.drop_bid{
    display: block;
    border: 2px solid #F25500;
    background-color: #F25500;
    color: lightyellow;
    font-family: Geometria-Regular;
    width: 200px;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    border-radius: 10px;
}
.drop_bid:hover{
    background-color: lightyellow;
    color:#F25500;
}
.header-contact{

display: inline-block;

float: right;

text-align: center;

font-size: 18px;

font-family: Geometria-Medium;

border: 2px solid #F25500;

padding: 10px;

border-radius: 10px;

margin-top: 15px;
}
.header_phone_service{color: #61605E;}
.header_number{
}
.header_number-link{

color: #F25500;
}
.header_number-link:hover{
    text-decoration: underline;
}
.mouseicon{
    display: block;
    margin: 0 auto;
    width: 24px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 25px);
    cursor: pointer;
}
.mouseicon img{
    width: 50px;
}
.mouseicon_first{
    animation: 3s linear 0s infinite  mouseicon_first;
    -moz-transform: rotate(15deg); /* Для Firefox */
    -ms-transform: rotate(15deg); /* Для IE */
    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(15deg); /* Для Opera */
    transform: rotate(15deg); 
}
.header_backgrond1{
    background-image: url(../img/backgroundMobile.png);
    margin-left:0;
    width: 196px;
    height: 340px;
    margin-top: 10px;
    display: none;
    background-position: center;
    background-size: cover;
}
@keyframes  mouseicon_first{
    0%{ transform:translate(0,0)}
    50%{ transform:translate(0,5px)}
    100% { transform:translate(0,0)}
}
.tarif{
    white-space: nowrap;
}
.cctv{
    white-space: nowrap;
}
.nav{
    display: none;
}
.burger-menu{
    height: 30px;
}
.map{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact .b-block{
    display: flex;
    justify-content: space-between;
    font-family: Geometria-Regular;
}
.contact-left{
    width: 50%;
}
.contact-right{
    width: 50%;
}
.contact-title{
    font-family: Merel-Bold;
    font-size: 36px;
    line-height: 44px;
    color: #554E4E;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 30px;
}
.contact_text p{
    margin-bottom: 20px;
    font-family: Geometria-Regular;
    font-size: 20px;
    line-height: 20px;
    color:#554E4E;
}
.contact-left_name-block {
    display: inline-block;
    width: 49%;
    margin-bottom: 20px;
}
.contact-left_number-block {
    display: inline-block;
    width: 47%;
    margin-left: 15px;
}
.contact-left_text {
    font-family: Merel-Regular;
    font-size: 20px;
    line-height: 30px;
}

.contact-left_form {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding-left: 24px;
    padding-bottom: 15px;
    padding-top: 11px;
    font-family: Merel-Regular;
    font-size: 20px;
    width: 100%;
}
.theme_textarea {
    width: 100%;
    height: 80px;
    resize: none;
}
input,textarea{
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.contact-left_bottom_text {
    font-family: Merel-Regular;
    font-size: 14px;
    color: #554E4E;
    mix-blend-mode: normal;
    opacity: 0.4;
    width: 340px;
    margin-top: 30px;
    display: inline-block;
}
.contact-left_button {
    font-size: 16px;
    line-height: 16px;
    color: #FFFF;
    display: inline-block;
    background: #F25500;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    padding: 15px 30px;
    margin-top: 23px;
    cursor: pointer;
    border:solid #F25500 1px;
}
.contact-left_button:hover{
    background:lightyellow;
    color: #F25500;
}
.theme_textarea {
    width: 100%;
    height: 80px;
    resize: none;
}
.theme {
    width: 100%;
}
.contact-right {
    margin-left: 50px;
    width: calc(50% - 75px);
    display: inline-block;
    vertical-align: top;
}
.contact-right {
    margin-left: 75px;
    width: calc(50% - 75px);
    display: inline-block;
    vertical-align: top;
}
.contact_text-firstword {
    font-family: Merel-Bold;
}
.contact-right_button {
    font-size: 16px;
    color: #FFFF;
    background: #F25500;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 20px;
    border:#F25500 solid 1px;
}
.contact-right_button:hover{
    background:lightyellow;
    color:#F25500;

}
.contact-title-text {
    font-weight: normal;
}
.contact_number-link:link {
    text-decoration: none;
    color: #554E4E;
}
.contact-left_theme-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.contact-left_theme-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.contact_text{
    line-height: 25px;
}
.licenses{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.licenses img{
    width: 350px;
}
hr{
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #979797;
    margin-bottom: 30px;
    margin-top: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer_text{
    font-family: Merel-Regular;
    font-size: 24px;
}
@media(max-width: 1030px){
   .contact-left_name-block{
       display: block;
       width: 100%;
   }
   .contact-left_number-block{
    display: block;
    width: 100%;
    margin-left: 0;
   }

}
@media(max-width: 1010px){
    .header_link{
        margin-right: 10px;
    }

}

@media(max-width: 930px){
    .header_title h1{
        font-size: 22px;
        text-align: center;
    }
    .header_box_title_backgrond{
        left: calc(50% - 380px);
    }
    .header_title{
        width: 380px;
        padding: 10px;
    }
    .header_backgrond{
        margin-left: 20px;
    }
}
@media(max-width: 890px){
    .header_menu{
        display: none;
    }
    .nav{
        display: block;
    }
   .logo_block{
       margin-left: 65px;
   }
   .footer{
    display: block;
}
.footer_text{
    font-family: Merel-Regular;
    text-align: center;
}

}
@media(max-width: 820px){
    .header_box_title_backgrond{
        position: initial;
        margin-top: 20px;
    }
    .mouseicon{
        bottom: 0;
    }
    .drop_bid {
        margin-top: 10px;
    }
    .header_backgrond1 {
       display: inline-block;
    }
    .header_backgrond{
        display: none;
    }
    .header_title_bid{
        display: block;
    }
    
}

@media(max-height: 800px){
    .header_backgrond1{
        width: 100px;
        height: 172px;
    }
}
@media(max-height: 600px){
    .header_backgrond1{
        display: none;
    }
   
}
@media(max-height: 560px){
    .mouseicon{
        display: none;
    }
    .header_box_title_backgrond{
        position:initial;
        margin-top: 20px;
    }
}
@media(max-width: 750px){
    .contact .b-block{
        display: block;
    }
    .contact-left{
        width: auto;
    }
    .contact_text_button_block {
        display: flex;
        justify-content: space-between;
    }
    .contact-right{
        width: 100%;
        margin-left:0;
    }
    .licenses img {
        width: 250px;
    }
}
@media(max-width: 580px){
    .header_top-menu{
        display: block;
    }
    .header-contact{
        display: block;
        float: none;
    }
    .logo_block{
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .header_title{
        width: auto;
        display: block;
    }
    .header_title h1 {
        font-size: 20px;
    }
    .cctv{
        white-space:normal;
    }
    .drop_bid{
        padding: 5px;
        font-size: 20px;
    }
    .header_backgrond1{
        width: 166px;
        height: 276px;
    }
    .contact_text_button_block{
        display: block;
    }
    .contact-title{
        font-size: 30px;
    }
    .footer_text{
        font-size: 20px;
    }
}
@media(max-width: 530px){
    .licenses{
        display: block;
    }
    .licenses img{
        display: block;
        margin: 0 auto;
    }
    .licenses img:first-child{
        margin-bottom: 10px;
    }
}
@media(max-width: 380px){
    .footer_text{
        font-size: 16px;
    }
}
